.user-dashboard {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .searchpage-container {
    padding: 20px;
  }
  
  .carousel-container {
    width: 100%;
  margin: 0 auto; /* Center the carousel */
  }
  /* Ensure each individual slide (landlord card) is styled properly */
.slick-slide {
  display: flex;
  justify-content: center; /* Center the content inside each slide */
}
/* Optional: Add spacing between the carousel items */
.slick-slide > div {
  padding: 10px; /* Space between the landlord cards */
}

.slick-track {
  display: flex;
  flex-direction: row;  /* Force horizontal layout */
}
  .filter-section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .filter-form {
    margin-bottom: 10px;
  }
  
  .property-filter {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  